* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: transparent !important;
  overflow: hidden;
}

#root {
  background: transparent;
  width: 360px;
  height: 100vh;
  overflow: hidden;
}